.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  width: 95%;
  display: flex;
  height: auto;
  background-image: linear-gradient(to right, rgb(121, 167, 235) , rgb(241, 245, 251));
  float: left;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-right: 5%;
}

.navbar img{
  width: 10%;
}
.accountIcon{
  width: 10%;
}

.logo{
  width: 90%;
}

.sidebar{
  padding-top: 5%;
  padding-bottom: 5%;
}

.sidebar:hover{
  background-color: aliceblue;
}

.sideArea{
  float: left;
  width: 15%;
  background-image: linear-gradient(to right, rgb(121, 167, 235) , rgb(140, 179, 236));
  min-height: 100%;
  text-align: center;
  font-size:xx-large;
  min-width: min-content;
}

.viewArea{
  width: 85%;
  background-color: rgb(237, 236, 236);
  float: left;
  height: 100%;
}


.addUser{
  margin: 40px;
  margin-bottom: 50px;
  max-height: 70%;
}

#formUser{
  display: none;
}


.form-control input {
  width: 20%;
  height: 30px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.banner {
  height: 100vh;
  float: left;
}

.banner img{
  height: 100%;
}

.login {
  width: 60%;
  float: left;
}

.input{
  margin: 10%;
  font-size: xx-large;
}

.input p{
  font-size: 75%;
  font-weight: '600';
  margin-bottom: 2%;
}

.input button{
  margin-left:20%;
  float: left;
  font-size: 60%;
  width: 30%;
  background-color: rgb(155, 187, 207);
  border-radius: 10px;
  padding-left: 5%;
  padding-right: 5%;
  border-color: rgb(155, 187, 207);
}

.link{
  font-size: large;
  width: auto;
}

.input input{
  width: 50%;
  font-size: x-large;
  background-color: rgb(192, 208, 217);
  border-radius: 10px;
  border-color: rgb(192, 208, 217);
  -webkit-text-security: circle;
  padding-left: 2%;
}